.main_wrapper {
    margin-top: 90px;
}

.slider {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 300px;
}


.slider_wrapper {
    position: relative;
    width: 1200px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 8px;
}

.slider_btn {
    color: #333;
    z-index: 1;
    position: absolute;
    top: 45%;
    width: 3em;
    height: 3em;
    border: 0;
    background-color: transparent;
    outline: none;
}

.slider_btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.prev.slider_btn {
    left: 0;
    transform: rotate(180deg);
}

.next.slider_btn {
    right: 0;
}

.slider_wrapper .slider_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 300%;
    transition: transform 0.3s ease;
}

.slider_list .list_item {
    flex-shrink: 0;
    width: 1200px;
}

.slider_list .list_item .item_img {
    width: 100%;
    object-fit: cover;
    object-position: bottom center;
    position: relative;
    /* top: -35%; */
}

.main_content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
}

.section_title .more {
    color: #71C9CE;
    font-size: 16px;
    text-decoration: underline;
}

.section_title .more:hover {
    color: #52A4B1;
}

.content_wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.content_flow {
    flex: 0 0 72.5%;
    margin: 20px 0;
}

.content_flow .section {
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    padding: 10px 15px 15px;
    background-color: rgba(255,255,255,0.8);
}

.content_flow .section:first-child {
    margin-top: 0;
}

.content_flow .content_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.content_flow .content_list .list_item {
    display: block;
    width: 32%;
    flex: 0 0 32%;
    height: 200px;
    background-color: #66ccff;
    border-radius: 16px;
    box-shadow: 0 4px 20px 0 #999;
    box-sizing: border-box;
}

.list_item .cover {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.list_item .bg_block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.list_item .bg_block .bg_img {
    position: relative;
    display: block;
    width: 100%;
    transition: transform 0.3s ease;
    transform: scale(1);
    object-fit: cover;
    object-position: center;
}

.list_item .text_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #eee;
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* background-color: rgba(0, 0, 0, 0.4); */
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%);
}

.list_item .text_content .item_title {
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    height: 28px;
    line-height: 28px;
    margin: 0.5rem 0;
    transition: transform 0.3s ease;
    transform: translate(0, 100%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list_item .text_content .description {
    margin: 0;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    transition: transform 0.3s ease;
    transform: translate(0, 200%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content_list .list_item,
.aside_list .list_item {
    position: relative;
    overflow: hidden;
}

.aside_info {
    flex: 0 0 22.5%;
}

.aside_info.fixed {
    position: fixed;
    top: 80px;
    width: 270px;
}

.aside_info .aside_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    height: 425px;
}

.aside_info .aside_list .list_item {
    display: block;
    flex: 0 0 22.5%;
    width: 90%;
    background-color: lightcyan;
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 #999;
    box-sizing: border-box;
}

.aside_list .list_item .text_content .item_title {
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    margin: 0.25rem 0;
}

.aside_list .list_item .text_content .description {
    font-size: 12px;
}